<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="codeload" href="./styles/about.css" as="style">
  <link rel="stylesheet" href="./styles/about.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>I am an cs/infosec student currently residing in Singapore.<br>I dump all cs-related things I find interesting here, as well as all my ctf writeups.<br>I also occasionally do blogposts.<br></p>
    <br>
    <p>I am currently a member of:<br>HATS SG <code>[inactive]</code><br>TeaMSG <code>[inactive]</code><br>404Unfound<br>NUS Greyhats<br><br>I am open to team invites, so feel free to message me on twitter.<br></p>
    <br>
    <p style="font-size:25px">My <a href="https://linktr.ee/ultimatehg/" target="_blank"><u>linktree</u></a></p>
  </main>
</body>
</html>
