<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="/../assets/pencil.png" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <p>Hello, I'm UltimateHairyGuy, or you could also call me Yitian, and I do CTFs and cybersec-related stuff for fun.</p>
	<br>
	<p>This blog is an archive of what I found interesting or what I've managed to figure out, or just general writeups for some CTF problems.</p>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>