<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="uhg's corner"/>
  <meta property="og:image" content="https://i.ibb.co/4pRxk6j/trashthumbsup-c-websitethumb.png"/>
  <meta property="og:description" content="vulnerability resarch, exploits and cve, ctf blog"/>
  <meta property="og:url" content="https://ultimatehg.github.io"/>
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627"/>
  <meta property="og:type" content="website"/> 

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="codeload" href="./styles/about.css" as="style">
  <link rel="stylesheet" href="./styles/about.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>I am an cs/infosec student currently residing in Singapore.<br>I dump all cs-related things I find interesting here, as well as all my ctf writeups.<br>I also occasionally do blogposts.<br></p>
    <br>
    <p>I am currently a member of:<br>HATS SG <code>[inactive]</code><br>TeaMSG <code>[inactive]</code><br>404Unfound<br>NUS Greyhats<br>Friendly Maltese Citizens (FMC/ITDWWGMFNY)<br><br>I am open to team invites, so feel free to message me on twitter, or any other platform you might find me on :)<br></p>
    <br>
    <p style="font-size:25px">My <a href="https://linktr.ee/ultimatehg/" target="_blank"><u>linktree</u></a></p>
  </main>
</body>
</html>
