<nav>
  <a class="logo-link" href="/">
    <h1><%- blogTitle %></h1>
    <span><%- blogSubtitle %></span>
  </a>

  <p>
    <a id="about" class="info-link" href="/about.html">About</a> /
    <a id="works" class="info-link" href="/works.html">Works</a> /
    <a id="articles" class="info-link" href="/articles.html">Articles</a>
  </p>
</nav>